@import "tailwindcss";

@theme {
    --color-primary: oklch(48.955% 0.18118 24.187);
    --color-primary-50: oklch(76.249% 0.10757 14.819);
    --color-primary-100: oklch(72.699% 0.12629 16.368);
    --color-primary-200: oklch(66.186% 0.16539 18.734);
    --color-primary-300: oklch(60.594% 0.19883 21.683);
    --color-primary-400: oklch(55.921% 0.20858 24.438);
    --color-primary-500: oklch(48.955% 0.18118 24.187);
    --color-primary-600: oklch(38.997% 0.14153 23.697);
    --color-primary-700: oklch(28.298% 0.09629 22.223);
    --color-primary-800: oklch(16.652% 0.04686 17.99);
    --color-primary-900: oklch(0% 0 none);
    --color-primary-950: oklch(0% 0 none);
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @apply bg-white dark:bg-neutral-900;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
    opacity: 0;
}

@layer components {
    .btn {
        @apply bg-primary-400 select-none cursor-default hover:bg-primary-400/80 inline-flex h-10 items-center justify-center gap-2 rounded-lg px-4 py-2 text-sm font-medium whitespace-nowrap text-white transition-colors aria-disabled:pointer-events-none disabled:pointer-events-none disabled:cursor-not-allowed aria-disabled:cursor-not-allowed aria-disabled:opacity-50 disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
    }

    .btn-border {
        @apply hover:bg-primary-400/10 dark:hover:bg-primary-300/20 hover:border-primary-400/20 dark:hover:border-primary-200/50 border-1 border-gray-200 bg-transparent dark:border-neutral-600 dark:text-neutral-200 text-gray-900;
    }

    .input {
        @apply aria-error:border-amber-500 aria-error:border-2 focus:ring-primary-400/20 bg-white dark:bg-neutral-800 focus:border-primary-400 w-full rounded-lg border text-sm border-gray-300 dark:border-neutral-600 px-2 py-1 focus:ring-2 focus:outline-none;
    }
}